body{
    background-image: url(https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 600px;
    margin: auto;
    color: grey;
    background-color: cornsilk;
}
h1{
    font-style: unset ;
    font-size: 90%;
}